<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Noticiário</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    
    <h1>Últimas Notícias</h1>
    <ul>
        <% noticias.forEach(noticia => { %>
            <li>
                <!--carregando a noticia-->
                <h2><%= noticia.titulo %></h2>
                <p><%= noticia.noticia %></p>
            </li>
        <% }) %>
    </ul>

</body>
</html>