<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Noticiário</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

    <main> <!--Corpo principal-->
        <h1>Últimas Notícias</h1>

        <% noticias.forEach(noticia => { %> <!--Percorrer cada item das notícias-->
            <article> <!--Corpo do título-->
                <h2><%= noticia.titulo %></h2> <!--Mostrar título da notícia-->
                <p><%= noticia.noticia %></p> <!--Mostrar parágrafo da notícia-->
            </article>
        <% }) %>

        </main>

</body>
</html>